
@include keyframes(spin-hex-clockwise){
  from{transform:rotate(-90deg)}
  to{transform:rotate(0deg)}
}

@include keyframes(spin-hex-c-clockwise){
  from{transform:rotate(0deg)}
  to{transform:rotate(-90deg)}
}

@include keyframes(fly-in-btn-left){
  0% {
    position: relative;
    transform: translateX(-400%);
  }
  50% {
    position: relative;
    transform: translateX(0);
  }
  51%{
    transform: rotateX(0deg);
  }

  100%{
    transform: rotateX(360deg);
  }
}

@include keyframes(fly-in-btn-right){
  0% {
    position: relative;
    transform: translateX(400%);
  }
  50% {
    position: relative;
    transform: translateX(0);
  }
  51%{
    transform: rotateX(0deg);
  }

  100%{
    transform: rotateX(360deg);
  }
}