/*------------------------------------*\
    $ FONT SETTINGS
\*------------------------------------*/
$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
$fa-css-prefix:       fa !default;
$fa-version:          "4.6.3" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

/*------------------------------------*\
    $ FONT FACE URL
\*------------------------------------*/
@font-face {
  font-family: "FontAwesome";
  src: url($fa-font-path + "/fa-regular-400.eot?") format("eot"),
  url($fa-font-path + "/fa-regular-400.woff2") format("woff2"),
  url($fa-font-path + "/fa-regular-400.woff") format("woff"),
  url($fa-font-path + "/fa-regular-400.ttf") format("truetype"),
  url($fa-font-path + "/fa-regular-400.svg#FontAwesome") format("svg");
}

@font-face {
  font-family: "FontAwesomeBrands";
  src: url($fa-font-path + "/fa-brands-400.eot?") format("eot"),
  url($fa-font-path + "/fa-brands-400.woff2") format("woff2"),
  url($fa-font-path + "/fa-brands-400.woff") format("woff"),
  url($fa-font-path + "/fa-brands-400.ttf") format("truetype"),
  url($fa-font-path + "/fa-brands-400.svg#FontAwesome") format("svg");
}

@font-face {
  font-family: "FontAwesomeSolid";
  src: url($fa-font-path + "/fa-solid-900.eot?") format("eot"),
  url($fa-font-path + "/fa-solid-900.woff2") format("woff2"),
  url($fa-font-path + "/fa-solid-900.woff") format("woff"),
  url($fa-font-path + "/fa-solid-900.ttf") format("truetype"),
  url($fa-font-path + "/fa-solid-900.svg#FontAwesome") format("svg");
}

/*------------------------------------*\
    FONT CLASSES
\*------------------------------------*/
.font-fa {font-family: "FontAwesome"; }
.font-fa-brands {font-family: "FontAwesomeBrands";}
.font-fa-solid {font-family: "FontAwesomeSolid";}
.font-fa,.font-fa-brands,.font-fa-solid{font-size:2.6em;}
.fa-github{&::before{content: $fa-var-github;}}
.fa-git{&::before{content: $fa-var-git;}}
.fa-html5{&::before{content: $fa-var-html5;}}
.fa-css3{&::before{content: $fa-var-css3;}}
.fa-sass{&::before{content: $fa-var-sass;}}
.fa-less{&::before{content: $fa-var-less;}}
.fa-js{&::before{content: $fa-var-js;}}
.fa-node{&::before{content: $fa-var-node;}}
.fa-angular{&::before{content: $fa-var-angular;}}
.fa-react{&::before{content: $fa-var-react;}}
.fa-grunt{&::before{content: $fa-var-grunt;}}
.fa-gulp{&::before{content: $fa-var-gulp;}}
.fa-npm{&::before{content: $fa-var-npm;}}
.fa-aws{&::before{content: $fa-var-aws;}}
.fa-paypal{&::before{content: $fa-var-paypal;}}
.fa-times{&::before{content:$fa-var-times;}}
.fa-codepen{&::before{content:$fa-var-codepen;}}
.fa-meetup{&::before{content:$fa-var-meetup;}}
.fa-slack{&::before{content:$fa-var-slack;}}
.fa-php{&::before{content:$fa-var-php;}}
.fa-fiddle{&::before{content:$fa-var-fiddle;}}
.fa-linkedin{&::before{content:$fa-var-linkedin;}}
.fa-vue{&::before{content:$fa-var-vue;}}