.block{
  @extend .is-block;
}
.block__relative{
  position: relative;
}
.block__absolute{
  position: absolute;
}
.flex__1{
  @include flex( 1 0 auto);
}

.width-height-100{
  width: 100%;
  height: 100%;
}