html,body{background: $gray-dark}

.block{
  @extend .is-block;
}
.block__relative{
  position: relative;
}
.block__absolute{
  position: absolute;
}
.block_inline{
  display: inline-block;
}
.flex__1{
  @include flex( 1 0 auto);
}

.width-height-100{
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5{color: $white; word-break: break-all}

p{color: $white;}

ul{max-width: 1280px;
   margin: $space auto;
   padding: 0 $space-double;
    &.no-liststyle{li{list-style: none}}
    &.list-inline {li{display: inline-block; margin-right: $space}}
  li{list-style: disc; color:$white}
}

.margin-centered{
  margin: 0 auto;
}