html,body{height: 100%; margin:0; font-family: "Lato";}
#app{@include display-flex; @include flex-direction(column);}
.wrapper{@include display-flex; @include flex-direction(column);
  @extend .width-height-100;
}
.font-smaller{font-size: 0.8em}
.font-larger {font-size: 1.4em;}
.no-underline{text-decoration: none}

.page-home{
  p.description{word-break: break-all; span{display: inline-block}}
}

.btn{
  max-width: 150px;
  background: $cyan;
  padding: $space;
  color: $white;
  &:hover{
    @extend .c-text-cyan;
    background: $white;
  }
}