/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
.main-container{
 &.container{
   @extend .flex__1;
   @include align-items(justify);
 }
  @media screen and (min-width: 1472px){
    width: 100%;
    padding: 0;
  }

  @media screen and (max-width: 1089px){
    padding: 0 $space-double;
  }

}

.column{margin: 0; padding: $space-half 0;}

.page-home,.page-profile,.page-portfolio,.page-blog,.page-contact{
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  h2{font-size: 3.0em; margin-bottom: $space; }
  h3{@include display-flex; @include align-items(center); @include justify-content(center);
    font-size: 2.5em; span{@extend .block;}
    &.fee{margin-top:-$space-double;}
    &.description{margin-top: $space-double; font-size:1.2em}
    @include sml-breakpoint(){
      font-size: 2.0em;
    }
  }
  p{@extend .block__relative; margin: $space-double 0; span{@extend .block;}
   &.med-width{max-width: 1280px; margin: $space-double auto; word-break: break-word}
  }
}

.home-skillsets{@include display-flex;  @include justify-content(center);
  @include ctm-breakpoint(480px){
    @include flex-direction(column);
    @include align-items(center);
  }
}

.draw-hex{
  @extend .block__relative;
  @extend .block_inline;
  width: $hex-home-wh;
  height: $hex-home-wh;
  overflow: hidden;
  margin-right: $space-double;
  -webkit-clip-path:url("#maskPath"); clip-path: url("#maskPath");
  background: $cyan;
  div{@extend .block__absolute; width: $hex-home-wh; height: $hex-home-wh; overflow: hidden; }
  svg { @extend .block__relative; @extend .width-height-100; margin: 0; padding: 0;
  path{stroke: $cyan;}

  }
  .masked-div{@extend .block__absolute; top:2px; left:2px; background: $gray-dark; -webkit-clip-path:url("#hexMask"); clip-path: url("#hexMask");
    ul{@extend .block__relative; margin: 0; padding: 0;  width: $hex-home-wh; height: $hex-home-wh; overflow: hidden;
      li{ @extend .block__absolute;  width: $hex-home-wh; height: $hex-home-wh; top:-80%; padding:$space-half 0;
       // &.motion{ @include animation(cycle, 6s, ease-in-out, infinite)}
        &.motion{ animation:cycle 6s ease-in-out infinite}
      }
    }
    span{display: block; text-align: center; }
  }

  @include ctm-breakpoint(480px){
    margin-right: 0;
  }

}

