/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
.main-container{
 &.container{
   @extend .flex__1;
 }
  @media screen and (min-width: 1472px){
    max-width: 100%;
    width: 100%;
    padding: 0 $space-double;
  }

  @media screen and (max-width: 1089px){
    padding: 0 $space-double;
  }

}
.columns{margin: 0}