/**------------------------------------*\
$NAVIGATION
\*------------------------------------*/
#nav-holder{
  @include display-flex;
  min-height:105px;
}
nav{
  .holder-btn{
    position: absolute;
    left: 50%;
    margin-left: -30px;
  }

  .menu-text{position: relative; font-size: 1.2em; top: 40px; left: -50px;
   &.active{color: $white}
  }

  .menu-btn{
  position: relative;
  z-index: 12;
  svg{
      position: absolute;
      z-index: 5;
      top:0;
      left:0;
      width: 52px;
      height: 52px;
      max-width: 52px;
      min-height: 52px;
      @include rotate(90deg);
      @include animation(0.5s linear spinhexback);
      path{stroke: $cyan}
    }

  .fa-bars{position: absolute; z-index: 4;
    top:26px;
    left:17px;
    font-size: 1.5em;
    line-height: 0;
  }
  &:hover{
    color: $cyan;
    .fa-bars{ color: $cyan; @include rotate(-90deg);}
    cursor: pointer;
    #nav-icon2{
      span{background: $cyan;}
    }
    .hamburger{
      $hamburger-layer-color:$cyan;
    }
  }
  &.is-active{
    svg{path{stroke: $cyan;} @include transition(all, 0.5s, ease-in-out); @include animation(0.5s linear spinhex); @include rotate(0deg);}
    .fa-bars{ color: $cyan; @include rotate(-90deg);}
    .text{color: $cyan;}
  }

  .hamburger{
    position: absolute;
    z-index: 4;
  }

}
  .dropdown{ position: absolute; display: none; z-index: 10; width: 100%;
   &.active{@include display-flex;}
  }
  .dropdown-content-wrapper{min-width: 250px; visibility: hidden;  margin: 10% auto;
    @include ctm-breakpoint(624px){
      margin: 12% auto;
    }
    &.active{visibility: visible}
    .dropdown-content{@include display-flex; @include flex-direction(column); background: transparent; border-radius:0px; box-shadow: none; }
    a{ margin-bottom: $space; padding: $space-half; border:$border-blue-1; text-align: center; color: $white;
      background: $cyan;
      &:hover,&.active{background: $white; color: $cyan;}}
  }
}

.nav-clock{position: relative; top:25px; left:-25px; border: 1px dashed $cyan}

.menu-overlay{
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.8);
  z-index: 4;
  overflow: hidden;
  &.active{
    bottom:0;
    height: 100%;
  }
}

@include keyframes(spinhex){
  from{transform:rotate(-90deg)}
  to{transform:rotate(0deg)}
}

@include keyframes(spinhexback){
  from{transform:rotate(0deg)}
  to{transform:rotate(-90deg)}
}