/**------------------------------------*\
$NAVIGATION
\*------------------------------------*/

#block__nav{
  @include display-flex;
  min-height:105px;
}
nav{
  .holder-btn{
    left: 50%;
    margin-left: -30px;
  }

  .menu-text{position: relative; font-size: 1.2em; top: 40px; left: -50px;
   &.active{@extend .c-text-white;}
  }

  .menu-btn{
  position: relative;
  z-index: 12;
  svg{
      position: absolute;
      z-index: 5;
      top:0;
      left:0;
      width: $hex-btn-wh;
      height: $hex-btn-wh;
      max-width: $hex-btn-wh;
      min-height: $hex-btn-wh;
      @include rotate(90deg);
      @include animation(0.5s linear spin-hex-c-clockwise);
      path{stroke: $cyan}
    }

  .fa-bars{position: absolute; z-index: 4;
    top:26px;
    left:17px;
    font-size: 1.5em;
    line-height: 0;
  }
  &:hover{
    @extend .c-text-cyan;
    .fa-bars{ color: $cyan; @include rotate(-90deg);}
    cursor: pointer;
    #nav-icon2{
      span{background: $cyan;}
    }
    .hamburger{
      $hamburger-layer-color:$cyan;
    }
  }
  &.is-active{
    svg{path{stroke: $cyan;} @include transition(all, 0.5s, ease-in-out); @include animation(0.5s linear spin-hex-clockwise); @include rotate(0deg);}
    .fa-bars{ @extend .c-text-white; @include rotate(-90deg);}
    .text{@extend .c-text-cyan;}
  }

  .hamburger{
    position: absolute;
    z-index: 4;
  }

}
  .dropdown{ position: absolute; display: none; z-index: 10; width: 100%;
   &.active{@include display-flex;
   }
  }
  .dropdown-content-wrapper{min-width:150px; visibility: hidden;  margin: 10% auto;
    @include ctm-breakpoint(624px){
      margin: 12% auto;
    }
    &.active{visibility: visible}
    .dropdown-content{@include display-flex; @include flex-direction(column); @extend .block__absolute;
      background: transparent; border-radius:0px; }
    a{ margin-bottom: $space; padding: $space-half; border:$border-blue-1; @extend .c-text-white; min-width: 150px;
      background: $cyan;
      &:nth-child(odd){
        @include animation(0.8s linear fly-in-btn-left);
      }
      &:nth-child(even){
        @include animation(0.8s linear fly-in-btn-right);
      }
      &:hover,&.active{background: $white; color: $cyan;
      }}
  }
}


.menu-overlay{
  position: absolute;
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 4;
  overflow: hidden;
  &.active{
    display: block;
  }
}